:root{
    --color-de-fondo: #FEF9D9;
    --color-de-fondo-secundario: #DEE5D4;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
    --color-de-boton: #8EACCD;
}

body{
    background-color: var(--color-de-fondo);
    font-family: "Quicksand", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
}

ol, ul, li{
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-de-link);
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.cabecera__container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navegacion{
    display: flex;
    align-items: center;
}

.navegacion__lista{
    display: none;
}

.navegacion__elemento--color{
    font-weight: 600;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 2rem 2rem 2rem;
}

.presentacion__foto{
    border-radius: 50%;
    margin-right: 20px;
}

.redes{
    display: flex;
    gap: 1rem;
    padding: 0;
}

.sobre-mi{
    background-color: var(--color-de-fondo-secundario);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.sobre-mi__firma-contenedor{
    margin: 0;
}

.habilidades, .hobbies, .formacion, .proyectos, .contacto{
    padding-top: 2rem;
    text-align: center;
}

.habilidades__lista, .hobbies__lista, .formacion__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.habilidades__elemento, .hobbies__elemento{
    background-color: var(--color-de-fondo-secundario);
    padding: 1.5rem;
    display: flex;
    flex-direction: column; 
    align-items: start;
    justify-content: end; 
    width: 350px; 
    height: 150px;
    box-sizing: border-box; 
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
}

.habilidades__item, .hobbies__item{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    gap: 1rem;
}

.formacion__elemento{
    background-color: var(--color-de-fondo-secundario);
    padding: 2rem;
    width: 350px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.proyectos__imagen{
    width: 90%;
}

.formacion__info{
    font-size: 1.2rem;
}

.proyectos__enlace{
    background-color: var(--color-de-fondo-secundario);
    padding: 1rem;
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
}

.proyectos__enlace:hover, .contacto__boton:hover{
    background-color: #D2E0FB;
}

.proyectos__enlace:active, .contacto__boton:active{
    background-color: #7EACB5;
}

.contacto{
    padding: 2rem;
    background-color: var(--color-de-fondo-secundario);
    margin-top: 3rem;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto__fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contacto__legend{
    color: #7EACB5;
    text-align: start;
    font-size: 1.8rem;
}

.contacto__grupo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contacto__label{
    display: block;
}

.contacto__campo{
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    outline: none;
    font-size: 1.3rem;
}

.contacto__boton{
    width: 30%;
    padding: 0.9rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-de-fondo);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.5rem;
    cursor: pointer;
}

.contacto__image{
    display: none;
}

/* Pantallas grandes */
@media (min-width: 1024px) {
    
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__lista{
        display: block;
        display: flex;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
        margin-left: 1rem;
    }

    .presentacion{
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .formacion__elemento{
        width: 280px;
        height: 280px;
    }

    .proyectos__imagen{
        width: 50%;
    }

    .contacto__formulario{
        flex-direction: row;
        justify-content: center;
    }

    .contacto__fieldset{
        width: 50%;
    }

    .contacto__image{
        display: block;
        width: 280px;
        height: 280px;
        margin-left: 5rem;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
}